<launch>
    <param name="use_sim_time" value="false"/>
    <arg name="resolution" default="480p"/>

   <!-- 启动xtark_driver驱动包  -->
   <include file="$(find xtark_ros_wrapper)/launch/xtark_driver.launch"/>

   <!-- 启动激光雷达驱动包  -->
   <include file="$(find xtark_ros_wrapper)/launch/xtark_lidar.launch" />

   <!-- 启动USB摄像头驱动包 -->
   <include file="$(find xtark_ros_wrapper)/launch/xtark_camera.launch">
	<arg name="resolution" value="$(arg resolution)"/>
   </include>

   <!-- 启动rosbridge服务 -->
   <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>


   <!-- 发布robot_pose话题,发布map->base_footprint坐标关系 -->
   <node name="robot_pose_publisher" pkg="robot_pose_publisher" type="robot_pose_publisher"/>


   <arg name="debug" default="false"/>
   <!-- APP相关服务 -->
   <node pkg="world_canvas_server" type="world_canvas_server" name="world_canvas_server" args="$(arg debug)">
           <param name="start_map_manager" value="true"/>
           <param name="auto_save_map" value="false"/>
   </node>
   <node pkg="world_canvas_server" type="map_manager.py" name="map_manager" />


</launch>
